* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  text-align: center;
  padding: 12px;
}
.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 500;
}
.image {
  margin-top: 12px;
}
